DB_OPI/Service References/wsCUS_LHTC/wsCUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMaterialUsedState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMaterialUsedStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMaterialUsedStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMaterialUsedState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eqpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTimeStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expTimeStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMaterialUsedStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMaterialUsedStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMaterialUsedStateSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMaterialUsedState" />
  </wsdl:message>
  <wsdl:message name="LoadMaterialUsedStateSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMaterialUsedStateResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMaterialUsedStateSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMaterialUsedState" />
  </wsdl:message>
  <wsdl:message name="InsertMaterialUsedStateSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMaterialUsedStateResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCUSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMaterialUsedState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Load Material Used State</wsdl:documentation>
      <wsdl:input message="tns:LoadMaterialUsedStateSoapIn" />
      <wsdl:output message="tns:LoadMaterialUsedStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialUsedState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Material Used State</wsdl:documentation>
      <wsdl:input message="tns:InsertMaterialUsedStateSoapIn" />
      <wsdl:output message="tns:InsertMaterialUsedStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Material Used State</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCUSSoap" type="tns:wsCUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMaterialUsedState">
      <soap:operation soapAction="http://tempuri.org/LoadMaterialUsedState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialUsedState">
      <soap:operation soapAction="http://tempuri.org/InsertMaterialUsedState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCUSSoap12" type="tns:wsCUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMaterialUsedState">
      <soap12:operation soapAction="http://tempuri.org/LoadMaterialUsedState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialUsedState">
      <soap12:operation soapAction="http://tempuri.org/InsertMaterialUsedState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCUS">
    <wsdl:port name="wsCUSSoap" binding="tns:wsCUSSoap">
      <soap:address location="http://localhost/PKGMESws_Lextar/wsCUS/wsCUS.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCUSSoap12" binding="tns:wsCUSSoap12">
      <soap12:address location="http://localhost/PKGMESws_Lextar/wsCUS/wsCUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>