DB_OPI/Service References/wsCUS_LHTC/wsCUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadGlueUsedState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reheatStTimeStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reheatEndTimeStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadGlueUsedStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadGlueUsedStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGlueReheatData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGlueReheatDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGlueReheatDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGlueLifeTimeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lifeStTimeStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lifeEndTimeStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGlueLifeTimeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateGlueLifeTimeDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAllGlueReheatingData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAllGlueReheatingDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadAllGlueReheatingDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByMaterialLotNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matLotNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByMaterialLotNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteByMaterialLotNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoadGlueUsedStateSoapIn">
    <wsdl:part name="parameters" element="tns:LoadGlueUsedState" />
  </wsdl:message>
  <wsdl:message name="LoadGlueUsedStateSoapOut">
    <wsdl:part name="parameters" element="tns:LoadGlueUsedStateResponse" />
  </wsdl:message>
  <wsdl:message name="AddGlueReheatDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddGlueReheatData" />
  </wsdl:message>
  <wsdl:message name="AddGlueReheatDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddGlueReheatDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGlueLifeTimeDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGlueLifeTimeData" />
  </wsdl:message>
  <wsdl:message name="UpdateGlueLifeTimeDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGlueLifeTimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAllGlueReheatingDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadAllGlueReheatingData" />
  </wsdl:message>
  <wsdl:message name="LoadAllGlueReheatingDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadAllGlueReheatingDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByMaterialLotNoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByMaterialLotNo" />
  </wsdl:message>
  <wsdl:message name="DeleteByMaterialLotNoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByMaterialLotNoResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCUSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadGlueUsedState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Load Glue Used State data</wsdl:documentation>
      <wsdl:input message="tns:LoadGlueUsedStateSoapIn" />
      <wsdl:output message="tns:LoadGlueUsedStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGlueReheatData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Glue reheat data</wsdl:documentation>
      <wsdl:input message="tns:AddGlueReheatDataSoapIn" />
      <wsdl:output message="tns:AddGlueReheatDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGlueLifeTimeData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Glue life time data</wsdl:documentation>
      <wsdl:input message="tns:UpdateGlueLifeTimeDataSoapIn" />
      <wsdl:output message="tns:UpdateGlueLifeTimeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllGlueReheatingData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Load all glue reheating data</wsdl:documentation>
      <wsdl:input message="tns:LoadAllGlueReheatingDataSoapIn" />
      <wsdl:output message="tns:LoadAllGlueReheatingDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByMaterialLotNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete By Material Lot No</wsdl:documentation>
      <wsdl:input message="tns:DeleteByMaterialLotNoSoapIn" />
      <wsdl:output message="tns:DeleteByMaterialLotNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Material Used State</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCUSSoap" type="tns:wsCUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadGlueUsedState">
      <soap:operation soapAction="http://tempuri.org/LoadGlueUsedState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGlueReheatData">
      <soap:operation soapAction="http://tempuri.org/AddGlueReheatData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGlueLifeTimeData">
      <soap:operation soapAction="http://tempuri.org/UpdateGlueLifeTimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllGlueReheatingData">
      <soap:operation soapAction="http://tempuri.org/LoadAllGlueReheatingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByMaterialLotNo">
      <soap:operation soapAction="http://tempuri.org/DeleteByMaterialLotNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCUSSoap12" type="tns:wsCUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadGlueUsedState">
      <soap12:operation soapAction="http://tempuri.org/LoadGlueUsedState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGlueReheatData">
      <soap12:operation soapAction="http://tempuri.org/AddGlueReheatData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGlueLifeTimeData">
      <soap12:operation soapAction="http://tempuri.org/UpdateGlueLifeTimeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllGlueReheatingData">
      <soap12:operation soapAction="http://tempuri.org/LoadAllGlueReheatingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByMaterialLotNo">
      <soap12:operation soapAction="http://tempuri.org/DeleteByMaterialLotNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCUS">
    <wsdl:port name="wsCUSSoap" binding="tns:wsCUSSoap">
      <soap:address location="http://localhost/PKGMESws_Lextar/wsCUS/wsCUS.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCUSSoap12" binding="tns:wsCUSSoap12">
      <soap12:address location="http://localhost/PKGMESws_Lextar/wsCUS/wsCUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>